apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: stoat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
        - name: minio
          image: minio/minio
          command: ["server", "/data"]
          env:
            - name: MINIO_ROOT_USER
              value: "minioautumn"
            - name: MINIO_ROOT_PASSWORD
              value: "minioautumn"
          ports:
            - containerPort: 9000
            - containerPort: 9001
---
apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: stoat
spec:
  selector:
    app: minio
  ports:
    - name: api
      port: 9000
      targetPort: 9000
    - name: console
      port: 9001
      targetPort: 9001
---
apiVersion: batch/v1
kind: Job
metadata:
  name: minio-init
  namespace: stoat
spec:
  backoffLimit: 10
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: mc
          image: minio/mc
          command:
            - /bin/sh
            - -c
            - |
              while ! /usr/bin/mc ready minio; do
                /usr/bin/mc alias set minio http://minio.stoat.svc:9000 minioautumn minioautumn
                echo 'Waiting for minio...' && sleep 1
              done
              /usr/bin/mc mb --ignore-existing minio/revolt-uploads
